header {
  width: 100%;
  height: 8.8rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  background: linear-gradient(89deg, #000205 -10.97%, #000205 116.69%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

header nav ul {
  display: flex;
  gap: 4rem;
}

header nav ul li a {
  font-size: 1.6rem;
  color: var(--gray-100);
  letter-spacing: -0.48px;
  transition: opacity 0.3s ease;
}

header nav ul li a:hover {
  opacity: 0.7;
}
