header {
  width: 100%;
  height: 8.8rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  background: linear-gradient(89deg, #000205 -10.97%, #000205 116.69%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

header nav ul {
  display: flex;
  gap: 4rem;
}

header nav ul li a {
  font-size: 1.6rem;
  color: var(--gray-100);
  letter-spacing: -0.48px;
  transition: opacity 0.3s ease;
}

header nav ul li a:hover {
  opacity: 0.7;
}

.s-hero {
  position: relative;
  width: 100%;
  padding-top: 11.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.s-hero::after {
  content: "";
  width: 100%;
  height: 23rem;
  background-color: var(--pink-10);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.s-hero .text {
  position: relative;
  width: 100%;
  max-width: 71.9rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 6.4rem;
}

.s-hero .text h1 {
  position: relative;
  font-weight: 600;
  letter-spacing: -1.68px;
}
.s-hero .text h1:before {
  content: "";
  width: 100%;
  max-width: 59.9rem;
  height: 2.2rem;
  background: url("../img/line.svg") no-repeat center center;
  position: absolute;
  left: 3.9rem;
  bottom: 0;
}

.s-hero .text p {
  max-width: 65.6rem;
  margin: 0 auto;
  letter-spacing: 0.54px;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
  color: var(--gray-300);
}

.s-hero .text .arrow {
  position: absolute;
  bottom: 1.7rem;
  left: 5.5rem;
}

.s-hero .ilustra {
  padding: 0 1.5rem;
}
